.App {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  max-width: 480px;

  .settings {
    margin-bottom: 80px;

    textarea {
      width: 100%;
      height: 6em;
    }
  }

  .preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
      margin-bottom: 40px;
    }

    label,
    input[type="text"] {
      display: block;
      font-size: 18px;
      line-height: 18px;
      width: 100%;
      height: 22px;
    }
  }
}
